<svg:svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    class="aquarium"
    viewBox="0 0 160 90"
>
    <defs>
        <filter id="fluid">
            <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="10"
                result="blur"
            />
            <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                result="fluid"
            />
             <feComposite
                in="SourceGraphic"
                in2="fluid"
                operator="atop"
            /> 
        </filter>
    </defs>
    <!-- blue background -->
    <path
        d="M -20,-20 V 70 L 180,20 v -40 z"
        stroke="none"
        fill="#00003f"
    ></path>
    <circle
        class="fluid circle"
        *ngFor="let circle of circles"
        [attr.cx]="circle.x"
        [attr.cy]="circle.y"
        [attr.r]="10"
        fill="#00003f"
        stroke="none"
    >
    </circle>

    <circle
        class="fluid bubble"
        *ngFor="let bubble of bubbles"
        [attr.cx]="bubble.x"
        [attr.cy]="bubble.y"
        [attr.r]="3"
        fill="white"
    >
    </circle>
</svg:svg>
