:root{
    --color-main: #FFFFFF;
    --color-data: #FFFFFF;
    --color-black: #000000;
    --color-grey: #DFDFFF;
    --color-dark: #00003f;
    --color-blue: #01008e;
    --color-purple: #9001f5;
    --color-pink: #fe00ea;
    --color-pink-dark: #BF00AF;
    --color-main: #ff0178;
    --color-green: #6AFF00;
    --color-green-light: #A2FE62;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p,
div,
textarea,
input,
fieldset {
  font-family: "Open Sans";
}
